* {
    color: #222;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Open Sans', sans-serif;
}

#top {
    text-align: center;
    margin-bottom: 10px;
}

button {
    font-family: 'Open Sans', sans-serif;
    background-color: rgba(54, 162, 235, 0.2);
    border: 2px solid rgba(54, 162, 235, 1);
    border-radius: 8px;
    color: rgba(54, 162, 235, 1);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    font-size: 20px;
    margin: 1%;
}

.mainContainer {
    width: 80%;
    margin: 0 auto;
}

.statsHead {
    margin-left: 1%;
}

.chart-container {
    margin-bottom: 50px;
    margin-top: 50px;
}

.h-inline {
    display: inline-block;
    margin-right: 5%;
}

#textStats {
    text-align: center;
    margin-bottom: 50px;
}

.largeNum {
    font-family: 'Oswald', sans-serif;
    font-size: 2rem;
    text-align: center;
}